<div class="login-box">
  <%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
    <fieldset id="password-credentials">
      <div class="form-group">
        <%= f.email_field :email, :class => 'form-control', :tabindex => 1, :placeholder => Spree.t(:email) %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, :class => 'form-control', :tabindex => 2, :placeholder => Spree.t(:password) %>
      </div>
      <div class="forgot">
        <a href="/password/recover">Forgot Password?</a>
      </div>
      <div class="form-group">
        <%= f.submit Spree.t(:login), :class => 'btn btn-lg wide', :tabindex => 3 %>
      </div>
    </fieldset>
  <% end %>
</div>

<div class="register-box">
  <div class="registerContent-box">
    <h3>Register</h3>
    <p>If you don't yet have an account on Monroe Beauty, create one now for a fast checkout experience, access to special offers and the ability to view and track all orders.</p>
    <a class="btn btn-lg wide" href="/signup">Register</a>
  </div>
</div>